# Store Sales - Time Series Forecasting

Some Ideas
- Use up until 2017 as "train data"

EDA

Models
- Linear Regression, using features of:
store_nbr, family, sales, onpromotion (given - this is more global)
store cluster, store type, store city + state (given - stores csv global)
day of the week, oil price

x days ago sales for (same family, same store, same family + same store)

ignore holidays

### What is the most basic MVP?

EDA
quickly graph:
- aggregated sales per day (across all families)
- sales per day (each family separately)
- aggregated sales per day (each store separately)

- transactions per day (maybe these 2 useless)
- transactions per store

Features and model
- store nbr, family, sales, onpromotion
- x days ago sales (same fam, same store, same fam + store)

- store cluster, store type, store location

# EDA

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
# Load data
dataPath = './data/'
train = pd.read_csv(dataPath + 'train.csv')
train = train.set_index('id')

stores = pd.read_csv(dataPath + 'stores.csv')
oil = pd.read_csv(dataPath + 'oil.csv')
holidays = pd.read_csv(dataPath + 'holidays_events.csv')

In [ ]:
# Combine data into single df
# 1. Store --> match store to (city, state, type, cluster)
# 2. Oil --> match day to oil (fill in na with mean of surrounding days)

# Fill in oil values
oilFilled = oil.bfill()

combined = train.merge(stores, on='store_nbr')
combined = combined.merge(oilFilled, on='date')
combined.head()

,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,dcoilwtico
0,2013-01-01,1,AUTOMOTIVE,0.0,0,Quito,Pichincha,D,13,93.14
1,2013-01-01,1,BABY CARE,0.0,0,Quito,Pichincha,D,13,93.14
2,2013-01-01,1,BEAUTY,0.0,0,Quito,Pichincha,D,13,93.14
3,2013-01-01,1,BEVERAGES,0.0,0,Quito,Pichincha,D,13,93.14
4,2013-01-01,1,BOOKS,0.0,0,Quito,Pichincha,D,13,93.14

In [ ]:
# Graph sales per family
familySales = combined.groupby(by=['date', 'family'])['sales'].sum().unstack()

n = len(familySales.columns)
ncols = 3
nrows = (n+ncols-1)//ncols
fig, axs = plt.subplots(nrows=nrows, ncols=ncols, figsize=(15,nrows*5))

for i, colName in enumerate(familySales.columns[:n]):
    currRow = i//ncols
    currCol = i%ncols

    familySales[[colName]].plot(rot=30, ax=axs[currRow, currCol])

In [ ]:
# Graph sales per store
storeSales = combined.groupby(by=['date', 'store_nbr'])['sales'].sum().unstack()

n = len(storeSales.columns)
ncols = 3
nrows = (n+ncols-1)//ncols
fig, axs = plt.subplots(nrows=nrows, ncols=ncols, figsize=(15,nrows*5))

for i, colName in enumerate(storeSales.columns[:n]):
    currRow = i//ncols
    currCol = i%ncols

    storeSales[[colName]].plot(rot=30, ax=axs[currRow, currCol])